.btn-action {
  width: 65px;
  height: 60px;
  position: relative;
  background-color: red;
  border: none;
  border-radius: 6px;

  &:before {
    content: '';
    width: 25px;
    height: 25px;
    background-color: rgba(255, 0, 0 ,0);
    position: absolute;
    top: 16px;
    left: 18px;
    border: 1.1px solid white;
    border-radius: 15px;
  }

  &:after {
    content: '';
    width: 7px;
    height: 7px;
    background-color: white;
    position: absolute;
    top: 26px;
    left: 28px;
    border-radius: 2.5px;
  }


  &:hover {
    &:before {
      border: 1.1px solid #000000;
    }

    &:after {
      background-color: #000000;

    }
  }

  //@media (max-width: 767px) {
  //  width: 100%;
  //  height: 40px;
  //}
}


.order {
  background-color: rgba(255, 0, 0 ,1);
  width: auto;
  height: auto;
  margin-left: 10px;
  border-radius: 4px;
  padding: 10px 15px 10px 20px;

  &:hover {
    background-color: yellow;
  }
}


//red line
//.line-left {
//  width: 60px;
//  height: 3px;
//  position: relative;
//  top: 51px;
//  left: 0;
//  background-color: red;
//}
//
//.line-cntr {
//  width: 60px;
//  height: 3px;
//  background-color: red;
//  margin-left: auto;
//  margin-right: auto;
//}
//
//.line-rght {
//  width: 60px;
//  height: 3px;
//  position: relative;
//  top: 58px;
//  background-color: red;
//  float: right;
//}
