.d-flex {
  display: flex;
}

.mrg-10 {
  margin: 10px;
}

.mrg-t-15 {
  margin-top: 15px;
  }

.mrg-t-80 {
  margin-top: 80px;
}

.letter-sp-5 {
  letter-spacing: 5px;
}

.hover-shadow {
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}

.hvr-size-shadow {
  &:hover {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0 ,0.2);
    //border: 1px solid #000000;
    border-radius: 6px;
    -webkit-transition: all 350ms ease-in;
    -webkit-transform: scale(1.4);

    @media (max-width: 767px) {
      -webkit-transition: all 300ms ease-in;
      -webkit-transform: scale(1.05);

    }
   }
}
