body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

section {
  padding: 40px 0;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-image: url("../../app/img/bg-header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  padding: 40px 0 263px 0;

  @media (max-width: 767px) {
    padding: 10px 0 263px 0;
  }

  .menu-nav {
    display: flex;
    justify-content: space-between;

    &.show {

      @media (max-width: 767px) {
        .menu {
          transform: translateX(0);
        }
      }
    }

    @media (max-width: 767px) {
      .logo {
        margin: 7px 0 0 0;
      }
    }

    .menu {

      ul {
        display: flex;
        list-style: none;
        font-family: 'Roboto', sans-serif;
        font-stretch: ultra-expanded;
        font-size: 16px;
        text-transform: uppercase;

          @media (max-width: 767px) {
            display: inline-block;
            padding: 15px;
            margin: 0;
            font-size: 25px;
          }

        .items {
          padding: 10px 0 10px 0;

          &:hover {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
          }

          &:focus {
            border: 1px solid #ffffff;
          }
          @media (max-width: 767px) {
            padding: 15px;
          }

          a {
            padding: 10px 20px;
            color: #ffffff;
            text-decoration: none;
          }
        }
      }
    }

    @media (max-width: 767px) {
      .menu {
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-color: rgba(0, 0, 0, 0.95);
        top: 0;
        left: 0;
        transform: translateX(100%);
        flex-direction: column;
        transition: transform 0.2s ease-in-out;
      }
    }

    .toggle {
      position: absolute;
      top: 20px;
      right: 20px;
      display: none;
      flex-direction: column;
      justify-content: space-between;
      width: 50px;
      height: 50px;
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 6px;
      padding: 10px;


      @media (max-width: 767px) {
        display: flex;
        z-index: 100;

        span {
          width: 100%;
          height: 3px;
          background-color: #ffffff;
        }
      }
    }

  }

  .header-info{

    .title {
      font-family: 'Roboto', sans-serif;
      font-size: 37px;
      color: #ffffff;
      line-height: 0.9;
      font-weight: 900;
      margin-top: 140px;
    }

    .description {
      font-size: 20px;
      color: #ffffff;
      font-family: 'Open Sans', sans-serif;
      line-height: 1.6;
      margin: 40px 0;
    }


  }

  .info-form {
    form {
      display: flex;

      flex-wrap: nowrap;

      .form-input {
        margin: 0 20px 0 0;
      }

      .btn-sub-order {
        display: flex;
        justify-content: center;

      }

      @media (max-width: 767px) {
        display: block;

        .form-input {
          margin: 0 0 10px 0;
        }

        .btn-sub-order {
          justify-content: flex-start;
        }

      }
    }
  }

  .info-play {
    position: absolute;
    left: 50%;
    margin-left: -58px;
    bottom: -55px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .m-duts {
      position: relative;
      bottom: 29px;

    }
  }
}

.photo-gallery {
  position: relative;
  padding: 40px 0 100px 0;

  .photo-gallery-title {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 33px;
    margin-left: 145px;
  }

  .galery {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 767px) {
      justify-content: space-around;

    }

    img {
      display: flex;
      border-radius: 10px;
      margin: 20% 0;
    }

  }

  .gallery-show-more {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin: 30px 0 0;
  }

  .galery-circle {
    position: absolute;
    bottom: -62px;
    left: 50%;
    margin-left: -61px;
  }
}

.main-general-color {
  background-color: #f6f6f6;
  width: 100%;
  padding: 40px 0 144px 0;

    .general-color-title {
      font-family: 'Exo 2', sans-serif;
      text-transform: uppercase;
      font-size: 14px;
      text-align: right;
      margin-top: 97px;
      margin-right: 145px;
    }

  .gallery-color {
    margin-top: 77px;
    justify-content: space-between;

    @media (max-width: 767px) {
      justify-content: space-around;
    }

    .color-skin {
      display: flex;

      @media (max-width: 767px) {
        margin: 16% 0;
      }

      img {
        border-radius: 5px;
        width: 135%;
      }
    }
  }

}

.type-line {

  .type-line-title {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 32px;
    margin-bottom: 50px;
    margin-left: 148px;
    color: #ff0000;
  }

  .list-type-line {
    justify-content: space-between;

    @media (max-width: 767px) {
      justify-content: space-around;
    }

    .type-line-exmple {
      display: flex;
      margin: 5px 0;

      .type-line-photo {

        img {
          width: 200px;
        }
      }

      .line-name {
        display: flex;
        align-items: center;
        padding: 10px 10px 10px 10px;

        span {
          font-family: 'Exo 2', sans-serif;
          font-size: 18px;
        }
      }
    }
  }


}

.main-general-color-line {
  background-color: #f6f6f6;
  width: 100%;
  margin-top: 40px;
  padding: 28px 0 135px 0;

  .general-color-line-title {
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    text-align: right;
    margin-top: 97px;
    margin-right: 147px;
  }

  .gallery-color-line {
    margin-top: 90px;
    justify-content: space-between;

    .list-color-line {
      display: flex;
      img {
        width: 135%;
        border-radius: 5px;
      }
    }
  }

}

.feedback {
  margin: 0 0 -60px ;
  padding: 40px 0 0 0;

  .feedback-title {
    margin: 35px 0 0 147px;
    color: #ff0000;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }

  .feedback-client {
    display: flex;
    margin: 40px 0 0 0;

    .client-avatar-face {
      margin: 42px 0 0 0;
    }

    .client-message {
      width: 60%;
      background-color: #f2f2f3;
      margin: 102px 0 0 23px;
      padding: 20px;
      border-radius: 8px;
      font-family: 'Roboto', sans-serif;


      .client-message-name {
        letter-spacing: 3px;
        text-transform: uppercase;
        margin: 0 0 20px 0;



      }
    }
  }

  .feedback-wellmat {
    display: flex;
    justify-content: flex-end;
    margin: 56px 0 0 0;

    .wellmat-message {
      background-color: #646464;
      color: #f6f6f6;
      width: 60%;
      margin: 58px 23px 0 0;
      padding: 0 0 20px 0;
      font-family: 'Roboto', sans-serif;
      text-align: right;
      border-radius: 8px;

      .wellmat-message-name {
        margin: 18px 47px 18px 0;
        text-transform: uppercase;
        letter-spacing: 3px;

      }

      .wellmat-message-text {
        margin: 22px 41px 0 26px;
        line-height: 1.6;
      }
    }

    .wellmat-avatar {
      margin: 0;
    }
  }

  .chat-show-more {
    text-align: center;
    margin: 123px 0 0 0;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .galery-circle {
    display: flex;
    justify-content: center;
    margin: 35px 0 0 0;
  }
}

.why {
  background-image: url("../../app/img/why-me.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  position: relative;
  width: 100%;
  padding: 24px 0 128px 0;

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    margin-top: -24px;
  }

  .scroll-down {
    top: -35px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .scroll-down:after{
    left: 25px;
  }

  .line-rght-white {
    width: 80px;
    height: 2px;
    margin-top: 93px;
    background-color: #ffffff;
    float: right;
  }

  .why-title {
    position: relative;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    text-align: right;
    margin: 80px 143px 0 0;
  }

  .advantages p {
    position: relative;
    z-index: 10;
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    text-align: left;
    margin: 70px 0 0 0;
    padding: 20px 0px;
    line-height: 1.7;

  }

  .element-duts-line {
    position: absolute;
    left: 50%;
    margin-left: -2px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.order-product {
  padding: 67px 0 148px 0;

  .order-title {
    color: #ff0000;
    font-family: 'Exo 2', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 33px;
    margin-left: 146px;
  }

  .info-form {
    margin: 92px 0 0 0;



      form {
        display: flex;
        justify-content: space-between;

        > .form-order {
          width: calc(50% - 130px);
        }

        .form-control {
          height: 83px;
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.1);
          border-radius: 4px;
          width: 100%;
        }

        .btn-sub-order {
          display: flex;
          justify-content: center;
        }

        .btn-action {
          width: 91px;
          height: 83px;

          &:before {
            width: 36px;
            height: 36px;
            top: 21px;
            left: 26px;
            border-radius: 16px;
          }

          &:after {
            width: 9px;
            height: 9px;
            top: 36px;
            left: 40px;
            border-radius: 4.5px;
          }
        }
      }
    }

}

footer {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  font-family: 'Exo 2', sans-serif;

    .footer-info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .email {
        margin: 6px 0 0 0;
      }

      .logo {
        background: rgba(255, 255, 255, 0.5);
        margin: 5px 0 ;

        img {
          width: 80px;
          height: 80px;
        }
      }

      .mobile {
        margin: 6px 0 0 0;
      }
    }
}


