.m-duts {

  .duts {
    width: 4px;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    margin: 10px 0 10px 0;
  }

  .ver-line {
    width: 4px;
    height: 28px;
    background-color: white;
    border-radius: 2px 2px 0 0;
    margin: 10px 0 0 0;
  }
}

